.record {
  list-style: none;
  letter-spacing: 0.3px;
  display: flex;
  & li {
    width: 300px
  }
}
.favorite {
  color: gold;
  font-weight: bold;
}
.star {
  cursor: pointer;
}

.removeButton {
  color: red;
  font-weight: bold;
  cursor: pointer
}
