<form class="recordCreatorForm" [formGroup]="recordCreatorForm">

  <div class="fieldContainer">
    <label for="surname">Фамилия*</label>
    <br>
    <input
      class="field"
      type="text"
      id="surname"
      name="surname"
      [class.invalid]="!recordCreatorForm.controls.surname.untouched && !recordCreatorForm.controls.surname.valid"
      formControlName="surname">
  </div>

  <div class="fieldContainer">
    <label for="name">Имя</label>
    <br>
    <input
      class="field"
      type="text"
      id="name"
      name="name"
      formControlName="name">
  </div>

  <div class="fieldContainer">
  <label for="patronymic">Отчество</label>
    <br>
  <input
    class="field"
    type="text"
    id="patronymic"
    name="patronymic"
    formControlName="patronymic">
  </div>

  <div class="fieldContainer">
  <label for="phoneNumber">Телефон*</label>
    <br>
  <input
    class="field"
    type="text"
    id="phoneNumber"
    name="phoneNumber"
    [class.invalid]="!recordCreatorForm.controls.phoneNumber.untouched && !recordCreatorForm.controls.phoneNumber.valid"
    formControlName="phoneNumber">
  </div>

  <button (click)="addRecord()" class="submitButton" type="submit" [disabled]="!recordCreatorForm.valid">+</button>

</form>
